body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    margin: 10px auto;
    color: #1d1d1d
}

input {
    padding: 10px;
    font-size: 0.9em;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #efefef;
}

button {
    font-size: 0.9em;
    padding: 10px;
    background-color: rgb(45, 192, 45);
    color: white;
    border: 1px solid rgb(45, 192, 45);
    border-radius: 5%;
}